.top-chunk {
    position: fixed;
    left: 0;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid gray;
    display: flex;
}
.top-chunk div {
    margin-top: 10px;
    margin-left: 10px;
}

.parent-chunk {
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 50px;
    display: flex;
}

.menu-chunk {
    width: 80px;
    border-right: 2px solid #eeeeee;
    display: inline-block;
    background-color: #eeeeee;
}

.menu-chunk div {
    margin-top: 10px;
    margin-left: 10px;
}

.content-chunk {
    width: auto;
    width: auto;
    height: auto;
}

.content-chunk div {
    margin-top: 10px;
    margin-left: 10px;
}

.bottom-chunk {
    border-top: 2px solid gray;
    position: fixed; /* or absolute */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #eeeeee;
}
